<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<form id="roleForm"  role="form" method="post" action="card/update">
    <div class="row">
        <div class="col-md-7">
            <input type="hidden" name="id" id="id"/>
            <div class="form-group" >
                <label for="code">卡编号:</label>
                <input type="text" class="form-control" name="code" id="code" placeholder="请输入卡编号" />
            </div>
            <div class="form-group" >
                <label for="balance">卡余额:</label>
                <input type="text" class="form-control" name="balance" id="balance" placeholder="请输入卡余额" />
            </div>
            <div class="form-group">
                <label for="state">卡状态:</label>
                <select name="state" id="state" class="form-control">
                    <option th:value="1">正常</option>
                    <option th:value="0">禁用</option>
                    <option th:value="-1">挂失</option>
                </select>
            </div>
        </div>
    </div>
</form>
<script th:inline="javascript">
    <![CDATA[
    $(function () {
        $('#roleForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                code: {
                    message: '卡编码验证失败',
                    validators: {
                        notEmpty: {
                            message: '卡编码不能为空'
                        },
                        threshold :  2 , //有6字符以上才发送ajax请求，（input中输入一个字符，插件会向服务器发送一次，设置限制，6字符以上才开始）
                        remote: {//ajax验证。server result:{"valid",true or false} 向服务发送当前input name值，获得一个json数据。例表示正确：{"valid",true}
                            url: "card/isExist",//验证地址
                            data:function(validator) {// 获取需要传送到后台的验证的数据
                                return {
                                    name:$("#name").val(),
                                    id:$("#roleId").val()
                                }
                            },
                            message: '卡编码已存在',//提示消息
                            delay :  500,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置2秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                            type: 'POST'//请求方式
                        }
                    }
                }
            }
        })
    })
    ]]>
</script>
</body>
</html>
